body {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	background-color: black;
	height: 100vh;
}

.calculator {
	display: flex;
	flex-direction: column;
	width: 325px;
	background-color: rgb(37, 37, 37);
	padding: 15px;
	border-radius: 30px;
	margin-top: 50%;
}

.display {
	height: 80px;
	width: 325px;
	/* background-color: rgb(68, 68, 68); */
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 50px;
	border-radius: 10px;
	margin-bottom: 25px;
	margin-top: 10px;
  overflow: hidden;
}

.topRow {
	display: flex;
  justify-content: space-around;
	margin-bottom: 10px;
}

button {
	border-style: none;
	color: white;
	font-size: 30px;
	transition: 0.4s;
}

.digits {
	display: flex;
	flex-wrap: wrap;
	width: 230px;
	gap: 10px;
  justify-content: space-around;
}

.digit {
	border-radius: 10%;
	width: 60px;
	height: 60px;
	background-color: rgb(68, 68, 68);
}

.digit:hover {
	background-color: rgb(154, 154, 154);
}

.operators {
	display: flex;
	flex-wrap: wrap;
	width: 60px;
	gap: 10px;
}

.operator {
	border-radius: 10%;
	width: 60px;
	height: 60px;
  background: #FEAFC0;
  color: white;
  font-size: 25px;
}

.operator:hover {
	background-color: rgb(255, 255, 255);
	color: orange;
}

#clear {
	border-radius: 10%;
	width: 60px;
	height: 60px;
	font-size: 15px;
	background-color: orange;
	color: white;
}

#clear:hover {
	background-color: red;
}

.inputs {
	display: flex;
	justify-content: space-around;
}
